.theWholeBody {
/*    background-color: #ededed;*/
    background-color: #f2f2f2;
}
.container {
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px #1c1c1c;
}
.tv-show-card {
    width: 200px;
    display: inline-block;
/*    margin-left: 1em;*/
    margin-right: 1em;
    margin-bottom: 1em;
}
.card-body {
    padding: 0.4em;
    font-size: 13px;
    color: #4e4e4e;
}

.show-schedule {
    width: 20%;
    margin-left: 1em;
/*    padding-left: 1em;*/
/*    display: inline;*/
}

.tv-shows-list {
/*    display: inline-block;*/
    margin-left: 1em;
    width: 76%;
    z-index: 1;
}

.website-title {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
.menu-search {
    display: inline-block;
}
.search-results {
    display: inline-block;
    position: relative;
    width: auto;
    height: 500px;
    background-color: antiquewhite;
    z-index: 2;
}*/
